**Задание 0**

Вероятность при любом конкретном броске остается 1/9. Ответ: 1/9 (0.111)

In [175]:
import pandas as pd

**Импортируем данные**

In [176]:
file_name = "Данные для задания Python.xlsx"

sheet_num1 = "Задание1"

reports = {"ИП Иванов":"Отчет о продажах ИП Иванов",
           "ИП Петров": "Отчет о продажах ИП Петров",
           "ИП Сидоров": "Отчет о продажах ИП Сидоров"}

# Лист с заданием 1
df_num1 = pd.read_excel(file_name, sheet_name=sheet_num1)

dfs = []

# Загрузка отчетов всех ИП в единый df
for IP, sheet in reports.items():
    df = pd.read_excel(file_name, sheet_name=sheet, header=1)
    df['ИП'] = IP
    dfs.append(df)

df_sales = pd.concat(dfs)

df_sales = df_sales.rename(columns={"шт": "Поступления, шт.",
                          "шт.1": "Заказано, шт.",
                          "себестоимость": "Поступления, себестоимость",
                          "себестоимость.1": "Заказано, себестоимость"}
                          )

df_sales.head(10)

,Бренд,Предмет,Сезон,Коллекция,Наименование,Номенклатура,Размер,Склад,"Поступления, шт.","Поступления, себестоимость","Заказано, шт.","Заказано, себестоимость","Выкупили, шт","Выкупили, руб","Текущий остаток, шт",ИП
0,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 4 / Айфон 4s (iPhon...,22740336,0,Подольск,0,0,0,0.00,1,195.11,24,ИП Иванов
1,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 4 / Айфон 4s (iPhon...,22740336,0,Казань,0,0,1,179.64,1,195.11,32,ИП Иванов
2,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 5 / Айфон 5S / Айфо...,22740339,0,Подольск,0,0,8,1365.28,3,511.97,99,ИП Иванов
3,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 5 / Айфон 5S / Айфо...,22740339,0,Подольск,0,0,0,0.00,1,197.60,0,ИП Иванов
4,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 5 / Айфон 5S / Айфо...,22740339,0,Казань,0,0,4,682.64,1,197.60,47,ИП Иванов
5,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 6 / Айфон 6S (iPhon...,22740342,0,Подольск,0,0,1,127.24,0,0.00,0,ИП Иванов
6,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 6 / Айфон 6S (iPhon...,22740342,0,Новосибирск,0,0,0,0.00,0,0.00,1,ИП Иванов
7,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 6 / Айфон 6S (iPhon...,22740342,0,Казань,0,0,2,254.48,1,135.73,1079,ИП Иванов
8,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 6 / Айфон 6S (iPhon...,22740342,0,Казань,0,0,2,254.48,0,0.00,0,ИП Иванов
9,IvanovCase,Чехлы для телефонов,NaN,NaN,Силиконовый чехол на Айфон 6 плюс / Айфон 6S п...,22740345,0,Подольск,0,0,1,161.68,0,0.00,0,ИП Иванов

In [177]:
# Обзор колонок и типов данных в общей таблице по всем ИП
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35740 entries, 0 to 5927
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Бренд                       35740 non-null  object
 1   Предмет                     35740 non-null  object
 2   Сезон                       24 non-null     object
 3   Коллекция                   70 non-null     object
 4   Наименование                35740 non-null  object
 5   Номенклатура                35740 non-null  int64
 6   Размер                      35740 non-null  int64
 7   Склад                       35740 non-null  object
 8   Поступления, шт.            35740 non-null  int64
 9   Поступления, себестоимость  35740 non-null  int64
 10  Заказано, шт.               35740 non-null  int64
 11  Заказано, себестоимость     35740 non-null  float64
 12  Выкупили, шт                35740 non-null  int64
 13  Выкупили, руб               35740 non-null  float64
 14  Текущий остаток, шт         35740 non-null  int64
 15  ИП                          35740 non-null  object
dtypes: float64(2), int64(7), object(7)
memory usage: 4.6+ MB

In [178]:
# Для корректной обработки приводим все к строковому типу
df_num1['Номенклатура'] = df_num1['Номенклатура'].astype(str).str.strip()
df_sales['Номенклатура'] = df_sales['Номенклатура'].astype(str).str.strip()

# Проверка столбца на пропущенные значения
df_num1['Номенклатура'].notna().value_counts()

Номенклатура
True    6623
Name: count, dtype: int64

**Определяем, к какому ИП относится номенклатура**

In [179]:
# Временный df для сопоставления номенклатур с ИП
df_lookup = df_sales[['Номенклатура', 'ИП']].drop_duplicates()

# Группировка по номенклатуре. Если номенклатура встречается сразу у нескольких ИП, пишем всех через запятую
lookup_agg = df_lookup.groupby("Номенклатура")["ИП"].agg(lambda x: ', '.join(sorted(x.unique()))).reset_index()

# Удаляем пустой столбец ИП, чтобы в итговом df был только один столбец с таким названием
df_num1 = df_num1.drop(columns="ИП")

# Основной df о списком номенклатур
df_num1 = df_num1.merge(lookup_agg, on='Номенклатура', how='left')
df_num1['ИП'] = df_num1['ИП'].fillna("-")

# Смотрим сводный результат по кол-ву номенклатур для каждого ИП
df_num1['ИП'].value_counts()

ИП
-                       2254
ИП Иванов               2227
ИП Петров               2032
ИП Сидоров               109
ИП Иванов, ИП Петров       1
Name: count, dtype: int64

**Считаем кол-во заказов по каждой номенклатуре**

In [180]:
# СЧитаем кол-во заказов по номенклатурам
orders_by_nom = (df_sales.groupby("Номенклатура")["Заказано, шт."].sum().rename("Заказано, шт.").reset_index())

# Добавляем к основному df кол-во заказов по номенклатурам
df_num1 = df_num1.merge(orders_by_nom, on="Номенклатура", how="left")
df_num1["Заказано, шт."] = df_num1["Заказано, шт."].fillna(0).astype(int)

**Подсчет выручки по каждой номенклатуре**

In [181]:
# Выручка по номенклатурам
revenue_by_nom = (df_sales.groupby("Номенклатура")["Заказано, себестоимость"].sum().rename("Заказано, себестоимость").reset_index())

revenue_by_nom["Выручка, руб."] = revenue_by_nom["Заказано, себестоимость"] / 0.83

df_num1 = df_num1.drop(columns="Выручка, руб.")

df_num1 = df_num1.merge(revenue_by_nom[["Номенклатура", "Выручка, руб."]], on="Номенклатура", how="left")
df_num1["Выручка, руб."] = df_num1["Выручка, руб."].fillna(0)

**Подсчет прибыли по каждой номенклатуре**

In [182]:
nds = {"ИП Иванов": 0.01, "ИП Петров": 0.03, "ИП Сидоров": 0.05}

# Загружаем таблицам с себестоимостями и справочником
df_cost = pd.read_excel(file_name, sheet_name="Себестоимость")
df_catalog = pd.read_excel(file_name, sheet_name="Справочник")

df_catalog['Номенклатура'] = df_catalog['Номенклатура'].astype(str)

# Объединяем фиксированные затраты по категориям с основным df
df_num1 = df_num1.merge(df_catalog, on="Номенклатура", how="left")
df_num1 = df_num1.merge(df_cost, on='Категория', how='left')

# Минимальные затраты из таблицы с себестоимостями
min_fixed_cost = df_cost['Фиксированные затраты, руб./шт.'].min()
df_num1['Фиксированные затраты, руб./шт.'] = df_num1['Фиксированные затраты, руб./шт.'].fillna(min_fixed_cost)

df_num1['Налог'] = df_num1['Выручка, руб.'] * df_num1['ИП'].map(nds).fillna(0)
df_num1['Комиссия'] = df_num1['Выручка, руб.'] * 0.17
df_num1['Затраты'] = df_num1['Фиксированные затраты, руб./шт.'] * df_num1['Заказано, шт.']

# Подсчет прибыли
df_num1['Прибыль, руб.'] = (
    df_num1['Выручка, руб.'] - df_num1['Комиссия'] - df_num1['Налог'] - df_num1['Затраты']
)

# Округление для отчета
df_num1['Выручка, руб.'] = df_num1['Выручка, руб.'].round(2)
df_num1['Прибыль, руб.'] = df_num1['Прибыль, руб.'].round(2)

**Подсчет рентабельности по каждой номенклатуре**

In [183]:
# Проверяем, есть ли пустые значения
df_num1['Выручка, руб.'].isna().value_counts()

Выручка, руб.
False    6623
Name: count, dtype: int64

In [184]:
df_num1['Рентабельность, %'] = (
    df_num1['Прибыль, руб.'] / df_num1['Выручка, руб.']
).fillna(0) * 100

# Округление для отчета
df_num1['Рентабельность, %'] = df_num1['Рентабельность, %'].round(2)

**Экспорт таблицы**

In [186]:
df_num1['Заказы, шт.'] = df_num1['Заказано, шт.']

df_res = df_num1[['Номенклатура', 'ИП', 'Заказы, шт.', 'Выручка, руб.', 'Прибыль, руб.', 'Рентабельность, %']]
df_res.to_excel('Задание 1.xlsx', sheet_name='Таблица', index=False)

**Сводная таблица по ИП**

In [188]:
# Сводная таблица по ИП с reset_index для корректного отображения названий столбцов
agg_df = df_res.groupby('ИП').agg({'Заказы, шт.': 'sum', 'Выручка, руб.': 'sum', 'Прибыль, руб.': 'sum'}).reset_index()

agg_df

                     ИП  Заказы, шт.  Выручка, руб.  Прибыль, руб.
0                     -            0           0.00           0.00
1             ИП Иванов         1078      238766.31       10048.68
2  ИП Иванов, ИП Петров            0           0.00           0.00
3             ИП Петров          441      119762.71        7680.01
4            ИП Сидоров           15        3185.27          64.10